<div class="row" style="height: 50%">
  <div class="col-6" style="height: 100%">
    <canvas id="thisWeekChart"></canvas>
  </div>
  <div class="col-6 d-flex" style="height: 100%">
    <div class="ms-auto me-2 mt-3" style="width: 70%" *ngIf="(dailyCalories$ | async) as dailyCalories">
      <h4 class="text-white">Daily Calorie History:</h4>
      <ul class="ps-0 calorieList">
        <span *ngFor="let calorieDay of dailyCalories" [innerHTML]="calorieDay"></span>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="height: 50%">
  <div class="col-6 d-flex">
    <div id="todayContainer" class="my-auto" style="width: 50%">
      <canvas id="todayChart"></canvas>
    </div>
    <div class="text-center my-auto" *ngIf="(userService.caloriesLeft$ | async) as caloriesAllowed">
      <strong [class]="caloriesAllowed >= 0 ? 'text-secondary' : 'text-danger'" style="font-size: 4em;" [countUp]="caloriesAllowed >= 0 ? caloriesAllowed : caloriesAllowed * -1" [duration]="500"></strong>
      <p class="text-white mx-auto">{{caloriesAllowed >= 0 ? 'Calories Left Today' : 'Calories Over allowance'}}</p>
    </div>
  </div>
  <div class="col-6 d-flex">
    <div style="height: 80%; width: 100%">
      <canvas id="weightChart"></canvas>
    </div>
  </div>
</div>
