<div class="row" style="height: 50%">
  <div class="col-6" id="weekDiv" style="height: 100%">
    <canvas id="thisWeekChart"></canvas>
  </div>
  <div class="col-6 d-flex" style="height: 100%">
    <div class="ms-auto me-2 mt-3" style="width: 100%" *ngIf="(dailyCalories$ | async) as dailyCalories">
      <h4 class="text-white">Daily Calorie Target:</h4>
      <ul class="ps-0 calorieList">
        <span *ngFor="let calorieDay of dailyCalories" [innerHTML]="calorieDay"></span>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="height: 50%">
  <div class="col-6 d-flex">
    <div id="todayContainer" class="my-auto" style="width: 50%">
      <canvas id="todayChart"></canvas>
    </div>
    <div class="text-center my-auto" *ngIf="(userService.caloriesLeft$ | async) as caloriesAllowed">
      <strong [class]="caloriesAllowed.left >= 0 ? 'text-secondary' : 'text-danger'" style="font-size: 4em;" [countUp]="caloriesAllowed.left >= 0 ? caloriesAllowed.left : caloriesAllowed.left * -1" [duration]="500"></strong>
      <p class="text-white mx-auto">
        {{caloriesAllowed.left >= 0 ? 'Calories Left Today' : 'Calories Over allowance'}}
        <fa-icon
          [icon]="infoIcon"
          class="calorie-info"
          style="font-size: 0.6em;
          margin-top: 0.1em"
          [matTooltip]="caloriesAllowed.left >= 0 ? '= Allowed + Burned - Consumed' : 'Consumed - Allowed + Burned'"
          matTooltipPosition="right"
          matTooltipClass="text-secondary text-nowrap">
        </fa-icon>
      </p>
    </div>
  </div>
  <div class="col-6 d-flex">
    <div style="height: 80%; width: 100%">
      <canvas id="weightChart"></canvas>
    </div>
  </div>
</div>
