<div class="row" style="height: 600px">
  <div class="col-6">
    <strong class="mx-auto" style="width:350px; display: block;">CURRENT WEEK'S GRAPH</strong>
  </div>
  <div class="col-6">
    <strong class="mx-auto" style="width:350px; display: block;">WEEK BY WEEK BREAKDOWN</strong>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <strong class="mx-auto" style="width:350px; display: block;">CALORIES LEFT IN THE DAY</strong>
  </div>
  <div class="col-6">
    <strong class="mx-auto" style="width:350px; display: block;">WEIGHT OVER TIME GRAPH</strong>
  </div>
</div>
