<div class="col-12 bg-primary title-bar px-2">
  <h1 class="mb-0 text-secondary">Fitnesse</h1>
</div>
<mat-drawer-container class="app-container bg-primary">
  <mat-drawer class="col-2 bg-light side-bar" mode="side" opened>
    <ng-container *ngFor="let route of routes">
      <div class="col-12 p-2 route-item" (click)="navigateToRoute(route.route)">
        <h4 class="mb-0">{{route.label}}</h4>
      </div>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content class="col-10">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
