<div class="row">
  <h2 class="text-secondary">About Me</h2>
  <field-select
    label="Sex"
    class="col-2"
    [options]="sexOptions"
    [inputControl]="mainFormGroup | getControl: 'sex'">
  </field-select>
  <field-number
    label="Age"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'age'">
  </field-number>
  <field-number
    label="Height"
    hint="Centimeters"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'height'">
  </field-number>
  <field-number
    label="Weight"
    hint="Kilograms"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'weight'">
  </field-number>
</div>
<div class="row">
  <h2 class="text-secondary">My Goals</h2>
  <field-select
    label="Weight Goal"
    class="col-2"
    [options]="weightGoalOptions"
    [inputControl]="mainFormGroup | getControl: 'weight_goal'">
  </field-select>
  <field-select
    label="Diet Plan"
    class="col-2"
    [options]="dietPlanOptions"
    [inputControl]="mainFormGroup | getControl: 'diet_plan'">
  </field-select>
  <ng-container  *ngIf="(mainFormGroup | getControl: 'calories_allowed').value as caloriesAllowed">
    <div class="col-4 text-secondary my-auto" *ngIf="!!caloriesAllowed && caloriesAllowed > 0">
      <h2>Your Daily Caloric Allowance: {{caloriesAllowed}}</h2>
    </div>
  </ng-container>
</div>
<div class="row mx-1" *ngIf="mainFormGroup.dirty">
  <button mat-stroked-button class="ml-1 col-2 text-secondary border-secondary" (click)="saveUserDetails()">
    Save
  </button>
</div>
