<!--  <h2>Set Goals</h2>-->
<!--  <div class="row">-->
<!--    <app-date-->
<!--      class="col-4"-->
<!--      label="Start Date"-->
<!--      [inputControl]="mainFormGroup | getControl: 'startDate'">-->
<!--    </app-date>-->
<!--    <app-date-->
<!--      class="col-4 ms-auto"-->
<!--      label="End Date"-->
<!--      [inputControl]="mainFormGroup | getControl: 'endDate'">-->
<!--    </app-date>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <field-number-->
<!--      class="col-4"-->
<!--      label="Start Weight"-->
<!--      [inputControl]="mainFormGroup | getControl: 'startWeight'">-->
<!--    </field-number>-->
<!--    <field-number-->
<!--      class="col-4 ms-auto"-->
<!--      label="Goal Weight"-->
<!--      [inputControl]="mainFormGroup | getControl: 'endWeight'">-->
<!--    </field-number>-->
<!--  </div>-->
<h2>About Me</h2>
<div class="row">
  <field-select
    label="Sex"
    class="col-2"
    [options]="sexOptions"
    [inputControl]="mainFormGroup | getControl: 'sex'">
  </field-select>
  <field-number
    label="Age"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'age'">
  </field-number>
  <field-number
    label="Height"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'height'">
  </field-number>
  <field-number
    label="Weight"
    class="col-2"
    [inputControl]="mainFormGroup | getControl: 'weight'">
  </field-number>
</div>
<div class="row">
  <field-select
    label="Activity Level"
    class="col-2"
    [options]="activityLevelOptions"
    [inputControl]="mainFormGroup | getControl: 'activityLevel'">
  </field-select>
</div>
<div class="row">
  <button class="col-2" (click)="calculateCalories()">
    Calculate Calories!
  </button>
</div>
