/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$theme-colors: (
  "primary": #444444,
  "light": #9f9f9f,
  "secondary": #98ffc2,
);

* {
  font-size: 1.2rem;
}

mat-hint {
  font-size: 1rem;
}

.mat-form-field {
  width: 100%
}
/* Font color */
input.mat-input-element {
  color: white;
}

.panel-success {
  border-style: solid;
  border-width: 2px;
  border-color: #98ffc2;
  background-color: #444444;
  color: white;

  .mat-button {
    color: #9f9f9f;
  }
}


@import "node_modules/bootstrap/scss/bootstrap";
