<div class="col-12 d-flex" style="height: 100%">
  <div class="my-auto pb-5" style="width: 100%;">
    <div class="row">
      <h1
        class="col-4
        text-center text-secondary mx-auto">
        Fitnesse <img style="width: 2em" class="pb-1" src="assets/fitnesse-icon.png" alt="app-icon">
      </h1>
    </div>
    <div class="row">
      <field-text
        class="mx-auto col-4"
        label="Username"
        [inputControl]="mainFormGroup | getControl: 'username'"
        (keydown.enter)="login()">
      </field-text>
    </div>
    <div class="row">
      <field-text
        class="mx-auto col-4"
        [password]="true"
        label="Password"
        [inputControl]="mainFormGroup | getControl: 'password'"
        (keydown.enter)="login()">
      </field-text>
    </div>
    <div class="row">
      <button
        (click)="login()"
        mat-stroked-button
        class="col-2 mx-auto text-secondary border-secondary">
        Login
      </button>
    </div>
    <div class="row">
      <button
        routerLink="/register"
        mat-stroked-button
        class="col-2 mx-auto mt-2 bg-secondary text-primary border-secondary"
      >Register
      </button>
    </div>
  </div>
</div>
