.no-y-padding {

  ::ng-deep .mat-form-field-flex {
    padding-top: 0;
  }

  ::ng-deep .mat-form-field-underline {
    position: initial;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.4em;
  }
}

.nutrition-tooltip {
  margin: 0;
  padding: 0;
  left: 0;
}

.add-icon {
  padding-top: 1.5rem;
}
