<div class="row">
  <div class="col-8">
    <h2 class="text-secondary">Today I had...</h2>
    <ng-container *ngIf="(userFoodItems$ | async) as foodItems">
      <ng-container *ngIf="!!foodItems && foodItems.length > 0">
        <div class="row mt-2" *ngFor="let foodItem of foodItems; let i = index">
          <strong class="col-6 text-white">{{foodItem.food_name}}</strong>
          <strong class="col-4 text-white">{{foodItem.calories}} calorie{{foodItem.calories > 1 ? 's' : ''}}</strong>
          <fa-icon class="col-2 text-secondary" [icon]="removeIcon" (click)="removeFoodItem(foodItem.id)"></fa-icon>
        </div>
      </ng-container>
    </ng-container>
    <div class="row">
      <field-text
        class="col-6"
        label="Food/Drink"
        [inputControl]="mainFormGroup | getControl: 'food_name'">
      </field-text>
      <field-number
        class="col-4"
        label="Calories"
        [inputControl]="mainFormGroup | getControl: 'calories'">
      </field-number>
      <fa-icon class="col-2 pt-4 text-secondary" [icon]="addIcon" (click)="addFoodItem()"></fa-icon>
    </div>
    <ng-container *ngIf="(userService.caloriesConsumed$ | async) as caloriesConsumed">
      <div class="row mt-2">
        <div class="col-6"></div>
        <div class="col-4">
          <strong class="text-white">{{caloriesConsumed > 0 ? caloriesConsumed : 'No'}} Calories Consumed</strong>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="(userService.caloriesAllowed$ | async) as caloriesAllowed">
      <div class="row mt-2">
        <div class="col-6"></div>
        <div class="col-4">
          <strong class="text-secondary">{{caloriesAllowed}} Left for today!</strong>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-4">
    <h2 class="text-secondary">My Diet...</h2>
  </div>
</div>
