<div class="row">
  <div class="col-9">
    <h2 class="text-secondary">Today I had...</h2>
    <div class="nutritionList">
      <ng-container *ngIf="(userFoodItems$ | async) as foodItems">
        <ng-container *ngIf="!!foodItems && foodItems.length > 0">
          <div class="row">
            <strong class="col-4 text-secondary">Food</strong>
            <strong class="col-2 text-secondary">Servings</strong>
            <strong class="col-4 text-secondary">Calories</strong>
          </div>
          <div class="row mt-2" *ngFor="let foodItem of foodItems; let i = index">
            <strong class="col-4 text-white">{{foodItem.food_name}}</strong>
            <strong class="col-2 text text-white">{{foodItem.servings}}</strong>
            <strong class="col-4 text-white">
              <span
                [matTooltip]="(foodItem.carbs > 0 || foodItem.fat > 0 || foodItem.protein > 0) ? foodItem.carbs + 'g carbs, ' + foodItem.fat + 'g fat, ' + foodItem.protein + 'g protein' : null"
                matTooltipClass="text-secondary"
                matTooltipPosition="after">
                  {{foodItem.calories}}
              </span>
            </strong>
            <fa-icon class="col-2 text-secondary" [icon]="removeIcon" (click)="removeFoodItem(foodItem.id)"></fa-icon>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row mt-5">
      <h5 class="text-secondary">New Food Item</h5>
      <field-text
        class="col-4 no-y-padding"
        label="Food/Drink"
        [inputControl]="mainFormGroup | getControl: 'food_name'"
        (blur)="searchFoodItem()">
      </field-text>
      <field-number
        class="col-2 no-y-padding"
        label="Servings"
        [inputControl]="mainFormGroup | getControl: 'servings'">
      </field-number>
      <field-number
        class="col-4 no-y-padding"
        label="Calories"
        [inputControl]="mainFormGroup | getControl: 'calories'">
      </field-number>
      <fa-icon *ngIf="!searchingItem" class="col-2 add-icon text-secondary" [icon]="addIcon" (click)="addFoodItem()"></fa-icon>
      <div class="col-2 pt-4" *ngIf="!!searchingItem">
        <mat-spinner [diameter]="50" color="accent" class="pt-2"></mat-spinner>
      </div>
    </div>
    <mat-expansion-panel class="bg-primary col-10" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-secondary">Extra Nutrition Information</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <field-number
          class="col-4"
          label="Protein"
          [inputControl]="mainFormGroup | getControl: 'protein'">
        </field-number>
        <field-number
          class="col-4"
          label="Carbohydrates"
          [inputControl]="mainFormGroup | getControl: 'carbs'">
        </field-number>
        <field-number
          class="col-4"
          label="Fat"
          [inputControl]="mainFormGroup | getControl: 'fat'">
        </field-number>
      </div>
    </mat-expansion-panel>
    <ng-container *ngIf="(userService.caloriesConsumed$ | async) as caloriesConsumed; else noneConsumed">
      <div class="row mt-2">
        <div class="col-8"></div>
        <div class="col-4 text-white" style="white-space: nowrap">
          <strong [countUp]="caloriesConsumed" [duration]="500"></strong><strong> Calories Consumed</strong>
        </div>
      </div>
    </ng-container>
    <ng-template #noneConsumed>
      <div class="row mt-2">
        <div class="col-8"></div>
        <div class="col-4">
          <strong style="white-space: nowrap" class="text-white">No Calories Consumed</strong>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="(userService.caloriesLeft$ | async) as caloriesAllowed">
      <div class="row mt-2">
        <div class="col-8"></div>
        <div class="col-4" [ngClass]="caloriesAllowed.left >=0 ? 'text-secondary' : 'text-danger'">
          <strong
            [countUp]="caloriesAllowed.left >= 0 ? caloriesAllowed.left : caloriesAllowed.left * -1" [duration]="500"></strong>
          <strong>
            {{ caloriesAllowed.left >= 0 ? 'Left for today!' : 'Over Allowance!'}}
            <fa-icon
              [icon]="infoIcon"
              class="calorie-info"
              style="font-size: 0.6em; margin-top: 0.1em"
              [matTooltip]="caloriesAllowed.left >= 0 ? '= Allowed + Burned - Consumed' : 'Consumed - Allowed + Burned'"
              matTooltipPosition="right"
              matTooltipClass="text-secondary text-nowrap">
            </fa-icon>
          </strong>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-3">
    <ng-container *ngIf="showDietGraph">
      <h2 class="text-secondary">My Diet Proportions</h2>
      <canvas id="myDietChart"></canvas>
    </ng-container>
      <h2 class="text-secondary mt-2" *ngIf="!!userDietPlan">{{userDietPlan}} Diet Ideal Proportions</h2>
      <canvas id="plannedDietChart"></canvas>
  </div>
</div>
