<mat-form-field appearance="fill">
  <mat-label>{{!!label ? label : ''}}</mat-label>
  <input
    matInput
    [type]="!password ? 'text' : 'password'"
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    (blur)="blur.emit()">
  <mat-hint *ngIf="!!hint">{{hint}}</mat-hint>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.value">
      {{option.value}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
